<!DOCTYPE html>
<html lang="de/fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/style.css">
    <link rel="icon" type="image/x-icon" href="public/icon.svg">
    <title>Unterschriften JUSO JS Bielingue Signatures</title>
</head>

<body>
    <div id="top">
        <div id="title">
            <h1>Zukunft Initative | Initative pour l'avenire</h1>
        </div>
        <div id="total">
            <p class="red">Gesammelt | Récoltées
                </br>
                <%= gesammelt %>
            </p>
            <svg id="graph1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 300">
                <rect id="bg1" class="cls-1" width="3000" height="300" />
                <path d="m2993,7v286H7V7h2986m7-7H0v300h3000V0h0Z" />
            </svg>
            <script>
                const total = <%= total %>;
                const gesammelt = <%= gesammelt %>;

                var faktor1 = gesammelt / total;
                document.getElementById("bg1").setAttribute.width = 3000 * faktor1;
            </script>
            <p class="black">Ziel | Objectif
                </br>
                <%= total %>
            </p>
        </div>
    </div>
    <div id="bottom">
        <div id="monat">
            <svg id="graph2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 200">
                <rect id="bg2" class="cls-2" width="364" height="200" y="0" />
                <path d="m39,1v198H1V1h38m1-1H0v200h40V0h0Z" />
            </svg>
            <script>
                const totalmonat = <%= totalmonat %>;
                var gesammeltmonat = <%= gesammeltmonat %>;
                var faktor2 = gesammeltmonat / totalmonat;
                document.getElementById("bg2").style.height = 200 * faktor2;
                var margintop = 200 - 200 * faktor2;
                document.getElementById("bg2").setAttribute('y', margintop);
                if (gesammeltmonat >= totalmonat) {
                    document.getElementById("bg2").style.fill = "#00ff00" ;
                }
            </script>

            <div id="textmonat">
                <p>Monatsziel | Objectif du mois
                    </br>
                    <%= totalmonat %>
                </p>
                <p id="gesammeltmonatext" class="red">Gesammelt | Récoltées
                    </br>
                    <%= gesammeltmonat %>
                </p>
            </div>
            <script>
                var h = window.innerHeight
                var marginmonat = 0.3 * h * faktor2 - 10
                
                document.getElementById("gesammeltmonatext").setAttribute('style', `margin-bottom: ${marginmonat}px`);
            </script>
        </div>
        <div id="leaderboard">
            <p>leaderboard
                </br>
                <%= leaderboard %>
            </p>
        </div>
        <div id="altjusos">
            <p>Alt JUSOs | vieux JUSOs
                </br>
                <%= altjusos %>
            </p>
        </div>
    </div>
</body>

</html>